HealthMonitoringSystem.WinApp/Service References/DiagnosisService/DiagnosisManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DiagnosisManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:81/DiagnosisService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:81/DiagnosisService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:81/DiagnosisService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" />
      <xsd:import schemaLocation="http://localhost:81/DiagnosisService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Interfaces" />
      <xsd:import schemaLocation="http://localhost:81/DiagnosisService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDiagnosisSol_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IDiagnosisSol_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IDiagnosisSol_SelectByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByName" />
  </wsdl:message>
  <wsdl:message name="IDiagnosisSol_SelectByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDiagnosisSol_Diagnoses_InputMessage">
    <wsdl:part name="parameters" element="tns:Diagnoses" />
  </wsdl:message>
  <wsdl:message name="IDiagnosisSol_Diagnoses_OutputMessage">
    <wsdl:part name="parameters" element="tns:DiagnosesResponse" />
  </wsdl:message>
  <wsdl:message name="IDiagnosisSol_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IDiagnosisSol_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IDiagnosisSol_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IDiagnosisSol_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IDiagnosisSol_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IDiagnosisSol_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDiagnosisSol_ActiveService_InputMessage">
    <wsdl:part name="parameters" element="tns:ActiveService" />
  </wsdl:message>
  <wsdl:message name="IDiagnosisSol_ActiveService_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActiveServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IDiagnosisSol">
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiagnosisSol/Select" message="tns:IDiagnosisSol_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiagnosisSol/SelectResponse" message="tns:IDiagnosisSol_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiagnosisSol/SelectByName" message="tns:IDiagnosisSol_SelectByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiagnosisSol/SelectByNameResponse" message="tns:IDiagnosisSol_SelectByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Diagnoses">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiagnosisSol/Diagnoses" message="tns:IDiagnosisSol_Diagnoses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiagnosisSol/DiagnosesResponse" message="tns:IDiagnosisSol_Diagnoses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiagnosisSol/Insert" message="tns:IDiagnosisSol_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiagnosisSol/InsertResponse" message="tns:IDiagnosisSol_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiagnosisSol/Update" message="tns:IDiagnosisSol_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiagnosisSol/UpdateResponse" message="tns:IDiagnosisSol_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiagnosisSol/Delete" message="tns:IDiagnosisSol_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiagnosisSol/DeleteResponse" message="tns:IDiagnosisSol_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActiveService">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiagnosisSol/ActiveService" message="tns:IDiagnosisSol_ActiveService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiagnosisSol/ActiveServiceResponse" message="tns:IDiagnosisSol_ActiveService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDiagnosisSol" type="tns:IDiagnosisSol">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IDiagnosisSol/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByName">
      <soap:operation soapAction="http://tempuri.org/IDiagnosisSol/SelectByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Diagnoses">
      <soap:operation soapAction="http://tempuri.org/IDiagnosisSol/Diagnoses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IDiagnosisSol/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IDiagnosisSol/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IDiagnosisSol/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActiveService">
      <soap:operation soapAction="http://tempuri.org/IDiagnosisSol/ActiveService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DiagnosisManager">
    <wsdl:port name="BasicHttpBinding_IDiagnosisSol" binding="tns:BasicHttpBinding_IDiagnosisSol">
      <soap:address location="http://localhost:81/DiagnosisService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>