HealthMonitoringSystem.WinApp/Service References/PrescriptionService/PrescriptionManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PrescriptionManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:81/PrescriptionService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:81/PrescriptionService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:81/PrescriptionService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" />
      <xsd:import schemaLocation="http://localhost:81/PrescriptionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Interfaces" />
      <xsd:import schemaLocation="http://localhost:81/PrescriptionService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrescriptionSol_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IPrescriptionSol_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IPrescriptionSol_GetPrescriptionItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrescriptionItems" />
  </wsdl:message>
  <wsdl:message name="IPrescriptionSol_GetPrescriptionItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrescriptionItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IPrescriptionSol_Prescriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:Prescriptions" />
  </wsdl:message>
  <wsdl:message name="IPrescriptionSol_Prescriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrescriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IPrescriptionSol_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IPrescriptionSol_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IPrescriptionSol_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IPrescriptionSol_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPrescriptionSol_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IPrescriptionSol_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrescriptionSol">
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrescriptionSol/Select" message="tns:IPrescriptionSol_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrescriptionSol/SelectResponse" message="tns:IPrescriptionSol_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrescriptionItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrescriptionSol/GetPrescriptionItems" message="tns:IPrescriptionSol_GetPrescriptionItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrescriptionSol/GetPrescriptionItemsResponse" message="tns:IPrescriptionSol_GetPrescriptionItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Prescriptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrescriptionSol/Prescriptions" message="tns:IPrescriptionSol_Prescriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrescriptionSol/PrescriptionsResponse" message="tns:IPrescriptionSol_Prescriptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrescriptionSol/Insert" message="tns:IPrescriptionSol_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrescriptionSol/InsertResponse" message="tns:IPrescriptionSol_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrescriptionSol/Update" message="tns:IPrescriptionSol_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrescriptionSol/UpdateResponse" message="tns:IPrescriptionSol_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrescriptionSol/Delete" message="tns:IPrescriptionSol_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrescriptionSol/DeleteResponse" message="tns:IPrescriptionSol_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrescriptionSol" type="tns:IPrescriptionSol">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IPrescriptionSol/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrescriptionItems">
      <soap:operation soapAction="http://tempuri.org/IPrescriptionSol/GetPrescriptionItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Prescriptions">
      <soap:operation soapAction="http://tempuri.org/IPrescriptionSol/Prescriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IPrescriptionSol/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IPrescriptionSol/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IPrescriptionSol/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrescriptionManager">
    <wsdl:port name="BasicHttpBinding_IPrescriptionSol" binding="tns:BasicHttpBinding_IPrescriptionSol">
      <soap:address location="http://localhost:81/PrescriptionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>