HealthMonitoringSystem.WinApp/Service References/CounrtyService/CountryManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CountryManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:81/CountryService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:81/CountryService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:81/CountryService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" />
      <xsd:import schemaLocation="http://localhost:81/CountryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Interfaces" />
      <xsd:import schemaLocation="http://localhost:81/CountryService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICountrySol_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="ICountrySol_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="ICountrySol_Countries_InputMessage">
    <wsdl:part name="parameters" element="tns:Countries" />
  </wsdl:message>
  <wsdl:message name="ICountrySol_Countries_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICountrySol_AllCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:AllCountries" />
  </wsdl:message>
  <wsdl:message name="ICountrySol_AllCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICountrySol_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="ICountrySol_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="ICountrySol_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ICountrySol_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICountrySol_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ICountrySol_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ICountrySol">
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/ICountrySol/Select" message="tns:ICountrySol_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICountrySol/SelectResponse" message="tns:ICountrySol_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Countries">
      <wsdl:input wsaw:Action="http://tempuri.org/ICountrySol/Countries" message="tns:ICountrySol_Countries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICountrySol/CountriesResponse" message="tns:ICountrySol_Countries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/ICountrySol/AllCountries" message="tns:ICountrySol_AllCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICountrySol/AllCountriesResponse" message="tns:ICountrySol_AllCountries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/ICountrySol/Insert" message="tns:ICountrySol_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICountrySol/InsertResponse" message="tns:ICountrySol_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ICountrySol/Update" message="tns:ICountrySol_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICountrySol/UpdateResponse" message="tns:ICountrySol_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICountrySol/Delete" message="tns:ICountrySol_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICountrySol/DeleteResponse" message="tns:ICountrySol_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICountrySol" type="tns:ICountrySol">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/ICountrySol/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Countries">
      <soap:operation soapAction="http://tempuri.org/ICountrySol/Countries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllCountries">
      <soap:operation soapAction="http://tempuri.org/ICountrySol/AllCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/ICountrySol/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ICountrySol/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ICountrySol/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CountryManager">
    <wsdl:port name="BasicHttpBinding_ICountrySol" binding="tns:BasicHttpBinding_ICountrySol">
      <soap:address location="http://localhost:81/CountryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>