HealthMonitoringSystem.WinApp/Service References/ExaminationService/ExaminationManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExaminationManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:81/ExaminationService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:81/ExaminationService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:81/ExaminationService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExaminationSol_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IExaminationSol_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IExaminationSol_Examinations_InputMessage">
    <wsdl:part name="parameters" element="tns:Examinations" />
  </wsdl:message>
  <wsdl:message name="IExaminationSol_Examinations_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExaminationsResponse" />
  </wsdl:message>
  <wsdl:message name="IExaminationSol_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IExaminationSol_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IExaminationSol_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IExaminationSol_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IExaminationSol_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IExaminationSol_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IExaminationSol_ActiveService_InputMessage">
    <wsdl:part name="parameters" element="tns:ActiveService" />
  </wsdl:message>
  <wsdl:message name="IExaminationSol_ActiveService_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActiveServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IExaminationSol">
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IExaminationSol/Select" message="tns:IExaminationSol_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExaminationSol/SelectResponse" message="tns:IExaminationSol_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Examinations">
      <wsdl:input wsaw:Action="http://tempuri.org/IExaminationSol/Examinations" message="tns:IExaminationSol_Examinations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExaminationSol/ExaminationsResponse" message="tns:IExaminationSol_Examinations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IExaminationSol/Insert" message="tns:IExaminationSol_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExaminationSol/InsertResponse" message="tns:IExaminationSol_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IExaminationSol/Update" message="tns:IExaminationSol_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExaminationSol/UpdateResponse" message="tns:IExaminationSol_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IExaminationSol/Delete" message="tns:IExaminationSol_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExaminationSol/DeleteResponse" message="tns:IExaminationSol_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActiveService">
      <wsdl:input wsaw:Action="http://tempuri.org/IExaminationSol/ActiveService" message="tns:IExaminationSol_ActiveService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExaminationSol/ActiveServiceResponse" message="tns:IExaminationSol_ActiveService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IExaminationSol" type="tns:IExaminationSol">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IExaminationSol/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Examinations">
      <soap:operation soapAction="http://tempuri.org/IExaminationSol/Examinations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IExaminationSol/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IExaminationSol/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IExaminationSol/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActiveService">
      <soap:operation soapAction="http://tempuri.org/IExaminationSol/ActiveService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExaminationManager">
    <wsdl:port name="BasicHttpBinding_IExaminationSol" binding="tns:BasicHttpBinding_IExaminationSol">
      <soap:address location="http://localhost:81/ExaminationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>