HealthMonitoringSystem.WinApp/Service References/HolidayService/HolidayService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6868/HolidayService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" />
  <xs:import schemaLocation="http://localhost:6868/HolidayService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Interfaces" />
  <xs:element name="Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" minOccurs="0" name="SelectResult" nillable="true" type="q1:Holiday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Holidays">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HolidaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" minOccurs="0" name="HolidaysResult" nillable="true" type="q2:ArrayOfHoliday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" minOccurs="0" name="newHoliday" nillable="true" type="q3:Holiday" />
        <xs:element minOccurs="0" name="holidayLenght" type="xs:int" />
        <xs:element minOccurs="0" name="everyYear" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Interfaces" minOccurs="0" name="InsertResult" nillable="true" type="q4:ProcessResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" minOccurs="0" name="newInfoHoliday" nillable="true" type="q5:Holiday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Interfaces" minOccurs="0" name="UpdateResult" nillable="true" type="q6:ProcessResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Interfaces" minOccurs="0" name="DeleteResult" nillable="true" type="q7:ProcessResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsHolidayDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" minOccurs="0" name="holiday" nillable="true" type="q8:Holiday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsHolidayDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsHolidayDayResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>