HealthMonitoringSystem.WinApp/Service References/HolidayService/HolidayManager1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HolidayManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6868/HolidayService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6868/HolidayService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6868/HolidayService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" />
      <xsd:import schemaLocation="http://localhost:6868/HolidayService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Interfaces" />
      <xsd:import schemaLocation="http://localhost:6868/HolidayService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHolidaySol_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IHolidaySol_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IHolidaySol_Holidays_InputMessage">
    <wsdl:part name="parameters" element="tns:Holidays" />
  </wsdl:message>
  <wsdl:message name="IHolidaySol_Holidays_OutputMessage">
    <wsdl:part name="parameters" element="tns:HolidaysResponse" />
  </wsdl:message>
  <wsdl:message name="IHolidaySol_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IHolidaySol_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IHolidaySol_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IHolidaySol_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IHolidaySol_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IHolidaySol_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IHolidaySol_IsHolidayDay_InputMessage">
    <wsdl:part name="parameters" element="tns:IsHolidayDay" />
  </wsdl:message>
  <wsdl:message name="IHolidaySol_IsHolidayDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsHolidayDayResponse" />
  </wsdl:message>
  <wsdl:portType name="IHolidaySol">
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IHolidaySol/Select" message="tns:IHolidaySol_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHolidaySol/SelectResponse" message="tns:IHolidaySol_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Holidays">
      <wsdl:input wsaw:Action="http://tempuri.org/IHolidaySol/Holidays" message="tns:IHolidaySol_Holidays_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHolidaySol/HolidaysResponse" message="tns:IHolidaySol_Holidays_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IHolidaySol/Insert" message="tns:IHolidaySol_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHolidaySol/InsertResponse" message="tns:IHolidaySol_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IHolidaySol/Update" message="tns:IHolidaySol_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHolidaySol/UpdateResponse" message="tns:IHolidaySol_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IHolidaySol/Delete" message="tns:IHolidaySol_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHolidaySol/DeleteResponse" message="tns:IHolidaySol_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsHolidayDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IHolidaySol/IsHolidayDay" message="tns:IHolidaySol_IsHolidayDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHolidaySol/IsHolidayDayResponse" message="tns:IHolidaySol_IsHolidayDay_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHolidaySol" type="tns:IHolidaySol">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IHolidaySol/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Holidays">
      <soap:operation soapAction="http://tempuri.org/IHolidaySol/Holidays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IHolidaySol/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IHolidaySol/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IHolidaySol/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsHolidayDay">
      <soap:operation soapAction="http://tempuri.org/IHolidaySol/IsHolidayDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HolidayManager">
    <wsdl:port name="BasicHttpBinding_IHolidaySol" binding="tns:BasicHttpBinding_IHolidaySol">
      <soap:address location="http://localhost:6868/HolidayService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>