HealthMonitoringSystem.WinApp/Service References/PatientService/PatientManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PatientManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:81/PatientService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:81/PatientService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:81/PatientService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" />
      <xsd:import schemaLocation="http://localhost:81/PatientService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Interfaces" />
      <xsd:import schemaLocation="http://localhost:81/PatientService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPatientSol_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IPatientSol_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientSol_PatientByTc_InputMessage">
    <wsdl:part name="parameters" element="tns:PatientByTc" />
  </wsdl:message>
  <wsdl:message name="IPatientSol_PatientByTc_OutputMessage">
    <wsdl:part name="parameters" element="tns:PatientByTcResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientSol_Patients_InputMessage">
    <wsdl:part name="parameters" element="tns:Patients" />
  </wsdl:message>
  <wsdl:message name="IPatientSol_Patients_OutputMessage">
    <wsdl:part name="parameters" element="tns:PatientsResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientSol_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IPatientSol_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientSol_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IPatientSol_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientSol_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IPatientSol_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IPatientSol">
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientSol/Select" message="tns:IPatientSol_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientSol/SelectResponse" message="tns:IPatientSol_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PatientByTc">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientSol/PatientByTc" message="tns:IPatientSol_PatientByTc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientSol/PatientByTcResponse" message="tns:IPatientSol_PatientByTc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Patients">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientSol/Patients" message="tns:IPatientSol_Patients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientSol/PatientsResponse" message="tns:IPatientSol_Patients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientSol/Insert" message="tns:IPatientSol_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientSol/InsertResponse" message="tns:IPatientSol_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientSol/Update" message="tns:IPatientSol_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientSol/UpdateResponse" message="tns:IPatientSol_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientSol/Delete" message="tns:IPatientSol_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientSol/DeleteResponse" message="tns:IPatientSol_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPatientSol" type="tns:IPatientSol">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IPatientSol/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PatientByTc">
      <soap:operation soapAction="http://tempuri.org/IPatientSol/PatientByTc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Patients">
      <soap:operation soapAction="http://tempuri.org/IPatientSol/Patients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IPatientSol/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IPatientSol/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IPatientSol/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatientManager">
    <wsdl:port name="BasicHttpBinding_IPatientSol" binding="tns:BasicHttpBinding_IPatientSol">
      <soap:address location="http://localhost:81/PatientService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>