HealthMonitoringSystem.WinApp/Service References/LaboratoryRequestTypeService/LaboratoryRequestTypeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:81/LaboratoryRequestTypeService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" />
  <xs:element name="Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" minOccurs="0" name="SelectResult" nillable="true" type="q1:LaboratoryRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaboratoryRequestTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaboratoryRequestTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" minOccurs="0" name="LaboratoryRequestTypesResult" nillable="true" type="q2:ArrayOfLaboratoryRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" minOccurs="0" name="newLaboratoryRequestType" nillable="true" type="q3:LaboratoryRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" minOccurs="0" name="newInfoLaboratoryRequestType" nillable="true" type="q4:LaboratoryRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>