HealthMonitoringSystem.WinApp/Service References/MessageService/MessageManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessageManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:81/MessageService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:81/MessageService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:81/MessageService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessageSol_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IMessageSol_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageSol_Messages_InputMessage">
    <wsdl:part name="parameters" element="tns:Messages" />
  </wsdl:message>
  <wsdl:message name="IMessageSol_Messages_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageSol_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IMessageSol_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageSol_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IMessageSol_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageSol_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IMessageSol_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IMessageSol">
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageSol/Select" message="tns:IMessageSol_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageSol/SelectResponse" message="tns:IMessageSol_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Messages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageSol/Messages" message="tns:IMessageSol_Messages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageSol/MessagesResponse" message="tns:IMessageSol_Messages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageSol/Insert" message="tns:IMessageSol_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageSol/InsertResponse" message="tns:IMessageSol_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageSol/Update" message="tns:IMessageSol_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageSol/UpdateResponse" message="tns:IMessageSol_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageSol/Delete" message="tns:IMessageSol_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageSol/DeleteResponse" message="tns:IMessageSol_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMessageSol" type="tns:IMessageSol">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IMessageSol/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Messages">
      <soap:operation soapAction="http://tempuri.org/IMessageSol/Messages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IMessageSol/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IMessageSol/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IMessageSol/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageManager">
    <wsdl:port name="BasicHttpBinding_IMessageSol" binding="tns:BasicHttpBinding_IMessageSol">
      <soap:address location="http://localhost:81/MessageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>