HealthMonitoringSystem.WinApp/Service References/MedicamentService/MedicamentService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:81/MedicamentService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Result" type="tns:Extensions.BLLResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:simpleType name="Extensions.BLLResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="NotVerified" />
      <xs:enumeration value="InnerException" />
      <xs:enumeration value="Verified" />
      <xs:enumeration value="AlreadyFound" />
      <xs:enumeration value="Referanced" />
      <xs:enumeration value="NotFound" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="ServerDisable" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Extensions.BLLResult" nillable="true" type="tns:Extensions.BLLResult" />
</xs:schema>