HealthMonitoringSystem.WinApp/Service References/RendezvousService/RendezvousService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6868/RendezvousService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" />
  <xs:import schemaLocation="http://localhost:6868/RendezvousService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Interfaces" />
  <xs:element name="Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" minOccurs="0" name="SelectResult" nillable="true" type="q1:Rendezvous" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rendezvouses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
        <xs:element minOccurs="0" name="doctorId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="isActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RendezvousesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" minOccurs="0" name="RendezvousesResult" nillable="true" type="q2:ArrayOfRendezvous" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" minOccurs="0" name="newRendezvous" nillable="true" type="q3:Rendezvous" />
        <xs:element minOccurs="0" name="toExamination" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Interfaces" minOccurs="0" name="InsertResult" nillable="true" type="q4:ProcessResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" minOccurs="0" name="newInfoRendezvous" nillable="true" type="q5:Rendezvous" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Interfaces" minOccurs="0" name="DeleteResult" nillable="true" type="q6:ProcessResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RendezvousInfos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RendezvousInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" minOccurs="0" name="RendezvousInfosResult" nillable="true" type="q7:ArrayOfRendezvousInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>