HealthMonitoringSystem.WinApp/Service References/SystemService/SystemManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SystemManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:81/SystemService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:81/SystemService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:81/SystemService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISystemSol_LoginDoctor_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginDoctor" />
  </wsdl:message>
  <wsdl:message name="ISystemSol_LoginDoctor_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSol_LoginPersonnel_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginPersonnel" />
  </wsdl:message>
  <wsdl:message name="ISystemSol_LoginPersonnel_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginPersonnelResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSol_LoginPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginPatient" />
  </wsdl:message>
  <wsdl:message name="ISystemSol_LoginPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginPatientResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSol_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="ISystemSol_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="ISystemSol">
    <wsdl:operation name="LoginDoctor">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSol/LoginDoctor" message="tns:ISystemSol_LoginDoctor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSol/LoginDoctorResponse" message="tns:ISystemSol_LoginDoctor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginPersonnel">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSol/LoginPersonnel" message="tns:ISystemSol_LoginPersonnel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSol/LoginPersonnelResponse" message="tns:ISystemSol_LoginPersonnel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSol/LoginPatient" message="tns:ISystemSol_LoginPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSol/LoginPatientResponse" message="tns:ISystemSol_LoginPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSol/Test" message="tns:ISystemSol_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSol/TestResponse" message="tns:ISystemSol_Test_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISystemSol" type="tns:ISystemSol">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginDoctor">
      <soap:operation soapAction="http://tempuri.org/ISystemSol/LoginDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginPersonnel">
      <soap:operation soapAction="http://tempuri.org/ISystemSol/LoginPersonnel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginPatient">
      <soap:operation soapAction="http://tempuri.org/ISystemSol/LoginPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/ISystemSol/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemManager">
    <wsdl:port name="BasicHttpBinding_ISystemSol" binding="tns:BasicHttpBinding_ISystemSol">
      <soap:address location="http://localhost:81/SystemService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>