HealthMonitoringSystem.WinApp/Service References/RendezvousTimeService/RendezvousTimeManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RendezvousTimeManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:81/RendezvousTimeService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:81/RendezvousTimeService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:81/RendezvousTimeService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRendezvousTimeSol_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IRendezvousTimeSol_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IRendezvousTimeSol_RendezvousTimes_InputMessage">
    <wsdl:part name="parameters" element="tns:RendezvousTimes" />
  </wsdl:message>
  <wsdl:message name="IRendezvousTimeSol_RendezvousTimes_OutputMessage">
    <wsdl:part name="parameters" element="tns:RendezvousTimesResponse" />
  </wsdl:message>
  <wsdl:message name="IRendezvousTimeSol_AvailableRendezvousTimes_InputMessage">
    <wsdl:part name="parameters" element="tns:AvailableRendezvousTimes" />
  </wsdl:message>
  <wsdl:message name="IRendezvousTimeSol_AvailableRendezvousTimes_OutputMessage">
    <wsdl:part name="parameters" element="tns:AvailableRendezvousTimesResponse" />
  </wsdl:message>
  <wsdl:message name="IRendezvousTimeSol_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IRendezvousTimeSol_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IRendezvousTimeSol_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IRendezvousTimeSol_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IRendezvousTimeSol_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IRendezvousTimeSol_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IRendezvousTimeSol">
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IRendezvousTimeSol/Select" message="tns:IRendezvousTimeSol_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRendezvousTimeSol/SelectResponse" message="tns:IRendezvousTimeSol_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RendezvousTimes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRendezvousTimeSol/RendezvousTimes" message="tns:IRendezvousTimeSol_RendezvousTimes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRendezvousTimeSol/RendezvousTimesResponse" message="tns:IRendezvousTimeSol_RendezvousTimes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AvailableRendezvousTimes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRendezvousTimeSol/AvailableRendezvousTimes" message="tns:IRendezvousTimeSol_AvailableRendezvousTimes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRendezvousTimeSol/AvailableRendezvousTimesResponse" message="tns:IRendezvousTimeSol_AvailableRendezvousTimes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IRendezvousTimeSol/Insert" message="tns:IRendezvousTimeSol_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRendezvousTimeSol/InsertResponse" message="tns:IRendezvousTimeSol_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IRendezvousTimeSol/Update" message="tns:IRendezvousTimeSol_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRendezvousTimeSol/UpdateResponse" message="tns:IRendezvousTimeSol_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IRendezvousTimeSol/Delete" message="tns:IRendezvousTimeSol_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRendezvousTimeSol/DeleteResponse" message="tns:IRendezvousTimeSol_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRendezvousTimeSol" type="tns:IRendezvousTimeSol">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IRendezvousTimeSol/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RendezvousTimes">
      <soap:operation soapAction="http://tempuri.org/IRendezvousTimeSol/RendezvousTimes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvailableRendezvousTimes">
      <soap:operation soapAction="http://tempuri.org/IRendezvousTimeSol/AvailableRendezvousTimes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IRendezvousTimeSol/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IRendezvousTimeSol/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IRendezvousTimeSol/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RendezvousTimeManager">
    <wsdl:port name="BasicHttpBinding_IRendezvousTimeSol" binding="tns:BasicHttpBinding_IRendezvousTimeSol">
      <soap:address location="http://localhost:81/RendezvousTimeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>