HealthMonitoringSystem.WinApp/Service References/LaboratoryRequestItemService/LaboratoryRequestItemManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LaboratoryRequestItemManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:81/LaboratoryRequestItemService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:81/LaboratoryRequestItemService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:81/LaboratoryRequestItemService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/HealthMonitoringSystem.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILaboratoryRequestItemSol_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="ILaboratoryRequestItemSol_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="ILaboratoryRequestItemSol_LaboratoryRequestItems_InputMessage">
    <wsdl:part name="parameters" element="tns:LaboratoryRequestItems" />
  </wsdl:message>
  <wsdl:message name="ILaboratoryRequestItemSol_LaboratoryRequestItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:LaboratoryRequestItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ILaboratoryRequestItemSol_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="ILaboratoryRequestItemSol_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="ILaboratoryRequestItemSol_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ILaboratoryRequestItemSol_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ILaboratoryRequestItemSol_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ILaboratoryRequestItemSol_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ILaboratoryRequestItemSol_ActiveService_InputMessage">
    <wsdl:part name="parameters" element="tns:ActiveService" />
  </wsdl:message>
  <wsdl:message name="ILaboratoryRequestItemSol_ActiveService_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActiveServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="ILaboratoryRequestItemSol">
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/ILaboratoryRequestItemSol/Select" message="tns:ILaboratoryRequestItemSol_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILaboratoryRequestItemSol/SelectResponse" message="tns:ILaboratoryRequestItemSol_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LaboratoryRequestItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ILaboratoryRequestItemSol/LaboratoryRequestItems" message="tns:ILaboratoryRequestItemSol_LaboratoryRequestItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILaboratoryRequestItemSol/LaboratoryRequestItemsResponse" message="tns:ILaboratoryRequestItemSol_LaboratoryRequestItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/ILaboratoryRequestItemSol/Insert" message="tns:ILaboratoryRequestItemSol_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILaboratoryRequestItemSol/InsertResponse" message="tns:ILaboratoryRequestItemSol_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ILaboratoryRequestItemSol/Update" message="tns:ILaboratoryRequestItemSol_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILaboratoryRequestItemSol/UpdateResponse" message="tns:ILaboratoryRequestItemSol_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ILaboratoryRequestItemSol/Delete" message="tns:ILaboratoryRequestItemSol_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILaboratoryRequestItemSol/DeleteResponse" message="tns:ILaboratoryRequestItemSol_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActiveService">
      <wsdl:input wsaw:Action="http://tempuri.org/ILaboratoryRequestItemSol/ActiveService" message="tns:ILaboratoryRequestItemSol_ActiveService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILaboratoryRequestItemSol/ActiveServiceResponse" message="tns:ILaboratoryRequestItemSol_ActiveService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILaboratoryRequestItemSol" type="tns:ILaboratoryRequestItemSol">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/ILaboratoryRequestItemSol/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LaboratoryRequestItems">
      <soap:operation soapAction="http://tempuri.org/ILaboratoryRequestItemSol/LaboratoryRequestItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/ILaboratoryRequestItemSol/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ILaboratoryRequestItemSol/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ILaboratoryRequestItemSol/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActiveService">
      <soap:operation soapAction="http://tempuri.org/ILaboratoryRequestItemSol/ActiveService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LaboratoryRequestItemManager">
    <wsdl:port name="BasicHttpBinding_ILaboratoryRequestItemSol" binding="tns:BasicHttpBinding_ILaboratoryRequestItemSol">
      <soap:address location="http://localhost:81/LaboratoryRequestItemService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>